<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nt.blocktouch">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lock_sign_open_new_icon_red"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lock_sign_open_new_icon_red"
        android:theme="@style/Theme.Blocktouch">
        <activity android:name=".AddBubble"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FloatingViewService"
            android:enabled="true"
            android:exported="false"
            android:visibleToInstantApps="true"
            />
        <service android:name=".ExampleService" />

        <receiver android:name="SimpleWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.nt.blocktouch.SimpleWidgetProvider.ACTION_CLICK" />

            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget_info" />
        </receiver>

    </application>

</manifest>